body{
	background: #eeeeee;	
}
.ui-menu-item {
  font-weight: 400;
  color: #616161;
  font-family: "Roboto"
}


.search_section{
 padding-top: 5%;
 padding-left: 30%;
}

#square{
  background: #ffffff;
  height: 14rem;
  width: 40%;
  margin-left: 29%;
  margin-right: 2%;
  margin-top: 2%;
  overflow: hidden;
}

#testanswers{
	color: red;
}

.ui-menu .ui-menu-item{
	padding: 19px 1em 3px .4em;
}



/*.ui-menu-item:{
	background: red;	
}*/
	/*.ui-autocomplete{
		height: 300px !important;
		overflow: auto;
	}*/
.ui-state-focus{
	background: #EEEEEE !important;
	
	border-top: #e0e0e0 !important;
/*	border: #e0e0e0 !important;*/
}


#search{
	border-bottom: 1px solid;
  	width: 177%;
  	padding-left: 56px;
    padding-bottom: 7px;
    font-weight: 300;
}

.search-section{
	margin-left: 23%;
}

.mdi-action-search{
	width: 0px;

}

.mdi-action-search::before{
	width: 0px;
	padding-left: 30px;
	
}

.logo{
	margin-top: 0px;
}

.input-field{
	margin-right: 250px;
}

/*.dropdown-area{
	margin-right: 250px;
}
*/
.btn{
  background-color: #FFCDD2;
  color: #EF5350;
  text-transform: none;
 }

.btn:hover{
  background-color: #FFEBEE;
  color: #F44336;
 }

#dropdown_option{
	text-transform: capitalize;
}
.dropdown-content{
	color: black;
	min-width:110px;
}

.dropdown-content li>a {
	color: #E57373;
}

.dropdown1 ul{
	color: black;
}

.dropdown-content li{
	color: black;
}

.mdi-navigation-arrow-drop-down{
	width: 0px;
	margin-top: -62px;
	color: #EF5350;
}

.mdi-navigation-arrow-drop-down::before{
	width: 0px;	
	
}

.card-content{
  
   background-color: white;
}

.container{
  float: left;
  padding-top: 3%;
  margin-left: 12.3%;
}

.card .card-image{
   background-color: #E0E0E0;
   overflow: scroll;
}

.card-image{
	height: 200px;
}

.card-image{
	padding-top: 9%;
	padding-left: 4%;
}



.card .card-content {
  padding: 9px;
}

.card{
	background-color: #E0E0E0;
}

.card {
	overflow: auto;
}

.card .card-reveal {
	overflow: auto;
}

.details{
	overflow: auto;
}
.card__group{

}

.btn-floating{
  position: fixed;
  bottom: 10px;
  padding-bottom: 4%;
  margin-left: 558px;

}


#noanswer{
  list-style: none;
  margin-left: 85px;
  float: left;
  padding-top: 100px;
  font-size: 21px;
}

/*input value:{
  	padding-left: 56px;
  padding-bottom: 7px;
}
*/

/*.input-field{
	width: 30%;
	
}*/